$border-color: #ccc;
$border-focused-color: #157EFB;

$input-background-color: #fcfff4;

$primary-color: #157EFB;
$secondary-color: #6C757C;
$success-color: #30A64A;
$danger-color: #DA3849;
$warning-color: #FDC02F;
$info-color: #25A2B7;
$light-color: #F8F9FA;
$dark-color: #343A40;
$white-color: #FFFFFF;
$dark-custom-color: #F0F0F0;

